@font-face {
    font-family: item;
    src: url(../fontes/Agrandir-WideLight.otf);
}
@font-face {
    font-family: titulo;
    src: url(../fontes/Akira\ Expanded\ Demo.otf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    margin: auto;
}

header {
    background-color: rgb(222, 250, 251);
    height: 100px;
    display: flex;
    align-items: center;
    font-family: title;
    padding: 0;
    margin: 0;
    font-family: item;
    font-weight: bold;
}

header .list-itens {
    display: flex;
    width: 100%;
    max-width: 350px;
    justify-content: space-between;
}

.list-itens li a {
    color: #cc1e15;
    font-size: large;
    padding-bottom: 35%;
    padding-top: 35%;
    margin-top: 10%;
    padding-right: 15%;
    padding-left: 15%;
}

header .menu {
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

header .list-itens a:hover {
    background-color: #cc1e15;
    color: rgb(222, 250, 251);
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    header .list-itens {
        display: none;
    }

    header .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }

    header .menu-toggle {
        display: block;
        color: #cc1e15;
        font-size: large;
        padding: 10px;
    }

    header .menu-toggle:hover {
        background-color: #cc1e15;
        color: rgb(222, 250, 251);
    }

    header .menu-items {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: rgb(222, 250, 251);
        width: 100%;
    }

    header .menu-items.show {
        display: block;
    }

    header .menu-items ul {
        display: flex;
        flex-direction: column;
    }

    header .menu-items ul li a {
        color: #cc1e15#cc1e15;
        padding: 15px;
        border-bottom: 1px solid #ccc;
    }

    header .menu-items ul li a:hover {
        background-color: #cc1e15;
        color: rgb(222, 250, 251);
    }
}